<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title"> Logo Company </ion-title>
    <ion-icon name="cart-outline" slot="end"></ion-icon>
    <ion-icon name="person-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="agenda">
    <ion-title class="date-title"
      >mon<span class="date">07 may</span></ion-title
      >
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <div class="icon-col">
                  <ion-icon name="help-circle-outline" class="icon-help"></ion-icon>
                </div>
                </ion-col>
                <ion-col>
                  <h6 class="card-title">12:00 - 15:00 | Run augusta 12 Lisboa - 1 dtto</h6>
                  <p class="description">House | Cleaning product, Carpet, Windows #weekly #flexible #quote status #12232</p>
                  
                  <ion-chip>
                    <ion-avatar>
                      <ion-icon name="person-circle-outline" color="warning" class="icon-person"></ion-icon>
                    </ion-avatar>
                    <ion-label class="chip-name">Mario</ion-label>
                  </ion-chip>
                  
                  <ion-chip>
                    <ion-avatar>
                      <ion-icon name="person-circle-outline" color="warning" class="icon-person"></ion-icon>
                    </ion-avatar>
                    <ion-label class="chip-name">Anna</ion-label>
                  </ion-chip>

                  <ion-chip>
                    <ion-avatar>
                      <ion-icon name="person-circle-outline" color="warning" class="icon-person"></ion-icon>
                    </ion-avatar>
                    <ion-label class="chip-name">jhon</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col size="auto">
                  <div class="button-detail">
                  <ion-button size="small" mode="ios">Details</ion-button>
                </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <div class="icon-col">
                  <ion-icon name="help-circle-outline" class="icon-help"></ion-icon>
                </div>
                </ion-col>
                <ion-col>
                  <h6 class="card-title">15:00 - 18:00 | Run augusta 12 Lisboa - 1 dtto</h6>
                  <p class="description">House | Cleaning product, Carpet, Windows #weekly #flexible #quote status #12232</p>
                  <ion-chip>
                    <ion-avatar>
                      <ion-icon name="person-circle-outline" color="warning" class="icon-person"></ion-icon>
                    </ion-avatar>
                    <ion-label class="chip-name">Mario</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col size="auto">
                  <div class="button-detail">
                  <ion-button size="small" mode="ios">Details</ion-button>
                </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>

        <!-- card two -->
    <ion-title class="date-title"
      >Wed<span class="date">09 may</span></ion-title
      >
        <ion-card>
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <div class="icon-col">
                  <ion-icon name="help-circle-outline" class="icon-help"></ion-icon>
                </div>
                </ion-col>
                <ion-col>
                  <h6 class="card-title">15:00 - 18:00 | Run augusta 12 Lisboa - 1 dtto</h6>
                  <p class="description">House | Cleaning product, Carpet, Windows #weekly #flexible #quote status #12232</p>
                  <ion-chip>
                    <ion-avatar>
                      <ion-icon name="person-circle-outline" color="warning" class="icon-person"></ion-icon>
                    </ion-avatar>
                    <ion-label class="chip-name">Mario</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col size="auto">
                  <div class="button-detail">
                  <ion-button size="small" mode="ios">Details</ion-button>
                </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
  </div>
</ion-content>
